@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Merriweather:wght@300&family=Permanent+Marker&display=swap");

.container {
  min-height: 100vh;
  width: 70%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5rem;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  font-family: "Leckerli One";
}

.content {
  font-family: "Merriweather";
}

.photoresize {
  min-width: 300px !important;
  min-height: 300px !important;
  max-width: 300px !important;
  max-height: 300px !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cssbold {
  font-weight: bolder;
  line-height: 2em;
  color: #2d3033;
}
.iconresize img {
  width: 30px !important;
  height: 30px !important;
  padding: 1em !important;
}
